@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --text-color: hsl(0, 0%, 7%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-red:hsla(0, 74%, 47%, 1);
    --body-color:hsla(0, 0%, 96%, 1);
    --container-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/* ========= BASE ==========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    font-family: var(--body-font);
    background-color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
}
html{
    scroll-behavior: smooth;
}
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
input{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-apperance:none;
    appearance: none;
    outline: none;
    box-shadow: none;
    flex: 1;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}
/* active link */
.active-link{
    color: hsla(180, 97%, 28%, 1);
    position: relative;
}
.active-link::after{
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: hsla(180, 97%, 28%, 1);
}
/* main */
.chat__header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--container-color);
    padding:0 1.5rem;
    z-index: 100;
}
.header__title{
    font-size: 2.2rem;
}
.notification-icon{
    font-size: 1.5rem;
}
.chat__container{
    margin-top: 6rem;
    margin-bottom: 7rem;
    z-index: 100;
}
.chats__container{
    padding-top: 2rem;
    gap:1rem;
}
.user__box{
    background-color: var(--body-color);
    border-radius: .6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.user__pic-box{
    background-color: hsla(11, 85%, 67%, 1);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__pic{
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 700;
}
.user__box-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user__name{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}
.user__status{
    font-size: .7rem;
    font-weight: 400;
}
.select-menu{
    width: 100%;
    margin-top: 1rem;
}
.closed__conversations{
    margin-top: 3rem;
}
.closed__conversations-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
.select__button{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 31%, 1);
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}
.select__button::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    height: 2px;
    width: 2px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.closed__conversations-closed{
    margin-top: 1.5rem;
    gap: 1rem;
}
.user__box-closed{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user__pic-closed-box{
    background-color: hsla(180, 97%, 28%, 1);
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__pic-closed{
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 700;
}
.user__box-names-closed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user__name-closed{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
}
.user__status-closed{
    font-size: .8rem;
    font-weight: 600;
}
@media screen and (max-width:767px) {
    .nav__list-second {
        display: none;
    }
}
.message__container{
    position: fixed;
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    top: 0;
    right:-100%;
    transition: .3s;
    z-index: 100;
}
.show-menu{
    right:0;
}
.show-menu .chat__box-input{
    display: flex;
    transition: .3s;
}
.message__header{
    height: 5.5rem;
    background-color: var(--container-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 90;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.chat__close{
    font-size: 1.7rem;
}
.more-icons{
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.more__icon{
    font-size:2rem;
}
.more__content{
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(88, 82, 82, 0.25);
    border-radius: 8px;
    position: absolute;
    right: .5rem;
    top: 5.5rem;
    padding: 2rem;
    gap: 1.5rem;
    width: 70%;
    transition: 3s ease-in-out;
}
.more__item{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    text-align: left;
}
.close__more{
    left: 0;
    top: 0;
    display: none;
    font-size: 2rem;
    color: var(--text-color);
}
.message__header-box{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-pic{
    position: relative;
}
.active-online{
    width: 0.65rem;
    height: 0.65rem;
    border: #fff 2px solid;
    border-radius: 50%;
    background: hsl(130,95%,65%);
    position: absolute;
    bottom: 3px;
    right: 0;
}
.message__header-pic-box{
    background-color: hsla(11, 85%, 67%, 1);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message__header-pic{
    color: var(--text-color-white);
    font-size: 1.5rem;
    font-weight: 700;
}
.message__header-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message__header-name{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
}
.message__header-status{
    font-size: .7rem;
    font-weight: 700;
}
.messages{
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    padding: 2rem 1rem;
    overflow: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px 0;
}
.you__message{
    justify-content: flex-end;
}
.kilode__message{
    justify-content: flex-start;
    width: 85%;
}
.you__message p{
    position: relative;
    right: 0;
    text-align: right;
    padding: 1rem 2.2rem;
    color: var(--text-color-white);
    background:hsla(180, 32%, 50%, 1);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    font-size: 1rem;
}
.you__message span{
    display: block;
    margin-top: 5px;
    font-size: 0.83rem;
    text-align: right;
}
.kilode__message p{
    background: #fff;
    text-align: left;
    position: relative;
    right: 0;
    padding: 1rem 2.2rem;
    color: var(--text-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    font-size: 1rem;
}
.kilode__message span{
    display: block;
    margin-top: 5px;
    font-size: 0.83rem;
    text-align:left;
}
/* .message__typing{
} */
.chat__box-input{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--body-color);
    padding: .4rem 1rem;
    display: none;
    transition: .3s;
}
.chat__input{
    display: flex;
    padding: .9rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 90%;
    gap: 1rem;
}
.chat__input input{
    width: 100%;
}
.chat__input i{
    font-size: 1.5rem;
}
.send__message{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(180, 38%, 50%, 1);
    border-radius: 50%; 
}
.send__message i{
    color: #fff;
    font-size: 1.5rem;
}
@media screen and (min-width:568px) {
    .more__content{
        width: 50%;
    }
}
@media screen and (min-width:767px) {
    .chat__header{
        left: 5rem;
        transition: .5s;
    }
     .expander .chat__header{
        left: 12rem;
    }
    .active-link{
        background-color: hsla(180, 97%, 28%, 1);
        color: var(--text-color-white);
    }
    .active-link::after{
        display: none;
    }
    .chat{
        display: flex;
        position: relative;
        width: 1396px;
        max-width: 100%;
        height: 100vh;
        background: #fff;
    }
    .chat__container{
        margin-bottom: 2rem;
        position: relative;
        flex: 30%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .message__container{
        position: relative;
        flex: 70%;
        right: 0;
        height: 100%;
    }
    .chat__box-input{
        position:sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--body-color);
        padding: .4rem 1rem;
    }
    .chat__close{
        display: none;
    }
    .more__content{
        width: 40%;
    }
}