@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(178, 97%, 14%);
    --first-color-alt: hsl(180, 97%, 28%);
    --text-color: hsl(0, 0%, 7%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-red:hsla(0, 74%, 47%, 1);
    --body-color:hsla(0, 0%, 96%, 1);
    --container-color: hsl(0, 0%, 100%);
    --grey-color: hsl(0, 0%, 74%);
    --placeholder-color: hsl(0, 0%, 31%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/* ========= BASE ==========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    font-family: var(--body-font);
    background-color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
}
html{
    scroll-behavior: smooth;
}
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
input{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
}
/* ========== NAV ========== */
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.button{
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    border-radius: .5rem;
}
/* setup 1 */
.bg__up{
    position: fixed;
    top: 0;
    right: 0;
}
.bg__down{
    position: fixed;
    bottom: 0;
    left: 0;
}
.bg__up2{
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    display: none;
}
.bg__down2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 15%;
    display: none;
}
.setup{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setup__container{
    z-index: 100;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.setup__textbox{
    margin-bottom: 2.5rem;
}
.setup__subtitle{
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.setup__title{
    font-size: 2rem;
    color: var(--first-color);
    font-weight: 700;
    line-height: 2.4rem;
}
.setup__choose-name{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.setup__input-name{
    outline: none;
    width: 100%;
    border: 1px solid var(--grey-color);
    padding: .6rem 1rem;
    border-radius: 6px;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-weight: 600;
}
.setup__input-name::placeholder{
    color: var(--placeholder-color);
    font-size: 1rem;
    font-weight: 400;
}
.setup__input-name:active, .setup__input-name:focus{
    border: 1px solid var(--first-color);
    border-image-slice: 1;
    border-radius: .5rem;
}
.setup__button{
    width: 100%;
    padding: .8rem;
    text-align: center;
    color: var(--text-color-white);
    font-size: 1rem;
    font-weight: 600;
}
.success__button{
    width: 100%;
    padding: .8rem;
    text-align: center;
    color: var(--text-color-white);
    font-size: 1rem;
    font-weight: 600;
}
.setup-checkbox{
    margin-bottom: 2rem;
}
.setup-group {
	margin-bottom: .5rem;
}
.setup-group:last-child {
	margin-bottom: 0;
}
.setup-group input {
	display: none;
}
.setup-group.select-all label {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 24px;
}
label {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
}
label .checkbox {
	width: 20px;
	height: 20px;
	background: #ccc;
	border-radius: 4px;
	position: relative;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #fff;
	border-radius: 2.5px;
	transition: .2s ease;
	transition-delay: .2s;
}
.setup-group input:checked + label .checkbox::before {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	transition-delay: 0s;
}
.setup-group input:checked + label .checkbox {
	background: var(--first-color);
	transition-delay: 0s;
}
label .checkbox .check {
	display: block;
	width: 12px;
	height: 6px;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translateX(-50%) rotateZ(-45deg);
}
label .checkbox .check::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background: #fff;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox .check::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .2s ease;
	transition-delay: 0s;
}
.setup-group input:checked + label .checkbox .check::before {
	height: 100%;
	transition-delay: .2s;
}
.setup-group input:checked + label .checkbox .check::after {
	width: 100%;
	transition-delay: .4s;
}
.success{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success__img{
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin-bottom: 2rem;
}
.success__title{
    font-size: 2rem;
    color: var(--first-color);
    font-weight: 700;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
}
/* media queries */
@media screen and (max-width:320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .setup__title,
    .success__title{
        font-size: 1.7rem;
    }
    .setup__subtitle{
        font-size: 1rem;
    }
    .setup__choose-name,
    label,
    .setup-group.select-all label{
        font-size: .9rem;
    }
    .setup__button{
        padding: 0.6rem;
    }
}
@media screen and (min-width:576px) {
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .setup__title{
        margin-right: 7rem;
    }
}
@media screen and (min-width:767px) {
    .bg__up2,
    .bg__down2{
        display: block;
    }
    .bg__up,
    .bg__down{
        display: none;
    }
    .setup__button{
        width: 40%;
    }
    .container{
        max-width: 566px;
        margin-left: auto;
        margin-right: auto;
    }
    .setup{
        height: 100%;
        width: 100%;
        /* display: block; */
        /* margin: auto; */
        padding-bottom: 2rem;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    /* .setup{
        padding-top: 5rem;
        padding-bottom: 5rem;
    } */
}