@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(178, 97%, 14%);
    --first-color-alt: hsl(180, 97%, 28%);
    --text-color: hsl(0, 0%, 7%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-red:hsla(0, 74%, 47%, 1);
    --body-color:hsla(0, 0%, 96%, 1);
    --container-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
@media screen and (max-width:762px) {
    .nav__list{
        display: none;
    }
}
/* .filters__section{
    display: none;
} */
.all__notifications{
    display: block;
}
.kilorant__notifications{
    display: block;
}
.no__notifications{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.no__notifications h1{
    font-size: 1.2rem;
    color: hsla(0, 0%, 31%, 1);
}
.notifications__header{
    display: flex;
    height: 5.5rem;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
.filters{
    margin-top: 5.5rem;
}
.notifications__back i{
    font-size: 2rem;
    color: var(--text-color);
}
.notifications__title{
    font-size: 1.3rem;
}
.filters__content{
    background-color: #fff;
    padding: .375rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 5.5rem;
    left: 0;
}
.filters__button{
    width: 100%;
    border: none;
    outline: none;
    padding: .8rem;
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    transition: .3s;
}
.filters [data-content]{
    display: none;
}
.filters__active[data-content]{
    display: grid;
}
.filter-tab-active{
    position: relative;
    font-weight: 800;
}
.filter-tab-active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--first-color-alt);
    height: 3px;
    width: 100%;
}
.filters__section{
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.all__content,
.kilorant__content{
    gap: 1rem;
}
.notifications__contents{
    display: flex;
    align-items: start;
    gap: .5rem;
}
.like__img{
    width: 26px;
}
.notifications__content{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.profile__pic{
    height: 2.5rem;
    width: 2.5rem;
    background-color: hsla(240, 35%, 23%, 1);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__pic h1{
    font-size: 1.3rem;
    font-weight: 600;
}
.notifications__text{
    font-size: .88rem;
    color: var(--text-color);
}
.listener__text{
    font-size: 1rem;
    color: var(--text-color);
}
.welcome__text{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
}
.shared-rant{
    padding-left: 2.5rem;
}
@media screen and (min-width:767px) {
    .notifications__back{
        display: none;
    }
    .notifications__header{
        position: sticky;
    }
    .filters__content{
        position: sticky;
    }
    .filters{
        margin-top: 0;
    }
    .filters__section{
        margin-top: 2rem;
    }
}
@media screen and (min-width:992px) {
    .container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}