@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(178, 97%, 14%);
    --first-color-alt: hsl(180, 97%, 28%);
    --text-color: hsl(0, 0%, 7%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-red:hsla(0, 74%, 47%, 1);
    --body-color:hsla(0, 0%, 96%, 1);
    --container-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/* ========= BASE ==========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    font-family: var(--body-font);
    background-color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
}
html{
    scroll-behavior: smooth;
}
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
}
input{
    outline: none;
    border: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-apperance:none;
    appearance: none;
    outline: none;
    box-shadow: none;
    flex: 1;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}
/* ========== NAV ========== */
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.button{
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    border-radius: .5rem;
}
/* ===== THEMES ===== */
.switch{
    display: inline-block;
    width: 43px;
    height: 24px;
    cursor: pointer;
}
.switch__input{
    display: none;
}
.switch__rail{
    position: relative;
    width: 43px;
    height: 25px;
    background-color:hsla(0, 0%, 74%, 1);
    border-radius: 3rem;
}
.switch__circle{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    transition: transform .4s;
}
.switch__input:checked ~ .switch__rail .switch__circle{
    transform: translate(18px, -50%);
}
.switch__input:checked ~ .switch__rail{
    background-color: var(--first-color);
}
/* active link */
.active-link{
    color: hsla(180, 97%, 28%, 1);
    position: relative;
}
.active-link i{
    color: hsla(180, 97%, 28%, 1);
}
.active-link span{
    color: hsla(180, 97%, 28%, 1);
}
.active-link::after{
    content: '';
    position: absolute;
    top: -.6rem;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: hsla(180, 97%, 28%, 1);
}
.switch-active .swac-btn i{
    transform: rotate(-180deg);
}
.switch-active .swac-options{
    display: grid;
}
.switch-active2 .swac-btn2 i{
    transform: rotate(-180deg);
}
.switch-active2 .swac-options2{
    display: grid;
}
.user-active .user-home-drop{
    transform: rotate(-180deg);
}
.user-active .navsb-modal{
    display: block;
}
/* .switch-modal{
    display: flex;
} */
@media screen and (max-width:767px) {
    .nav__logo,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        position: fixed;
        bottom: 0;
        background-color: var(--body-color);
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 99%;
        padding:1rem 2rem;
        border-radius: .5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        z-index: 100;
    }
    .nav__list-first{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap:3.5rem;
    }
    .nav__list-second{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #fff;
        width: 65%;
        height: 100%;
        padding:  3rem 1.5rem;
        border-radius: 0 1rem 1rem 0;
        transition: .3s;
        z-index: 100;
        box-shadow: 0px 2px 6px rgba(123, 111, 111, 0.25);
    }
    .img-back{
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;
    }
    .nav__logo-second-icon{
        width: 120px;
    }
    .nav__second-back{
        font-size: 2rem;
        color: var(--first-color);
    }
    .nav__user-box{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0 .5rem;
        margin-bottom: 1.5rem;
    }
    .nav__user-pic{
        background-color: hsla(11, 85%, 67%, 1);
        border-radius: 50%;
        height: 2.7rem;
        width: 2.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav__user-pic h1{
        color: var(--text-color-white);
        font-size: 1.3rem;
        font-weight: 700;
    }
    .nav__username-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav__user-name{
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--text-color);
    }
    .nav__user-email{
        font-size: .8rem;
        font-weight: 400;
    }
    .navb2{
        padding: 0 .5rem;
        gap: 1rem;
    }
    .navsb-modal{
        display: none;
    }
    .switch__acc{
        width: 100%;
        color: var(--text-color);
        position: relative;
    }
    .swac-btn{
        display: flex;
        background: #fff;
        font-size: 1.125rem;
        font-weight: 400;
        align-items: center;
        color: var(--text-color);
        cursor: pointer;
        justify-content: space-between;
    }
    .swac-btn i {
        font-size: 25px;
        transition: 0.3s;
    }
    .swac-options {
        position: relative;
        margin-top: 15px;
        background: #fff;
        gap:1rem;
        display: none;
    }
    .swac-option {
        display: flex;
        cursor: pointer;
        font-size: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .swac-option-role{
        font-size: .813rem;
        color: hsla(0, 0%, 31%, 1);
    }
    .swac-modal{
        position: absolute;
        height: 60px;
        width: 100%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        top: 2.5rem;
        display: none;
    }
    .swac-modal-text{
        font-size: 1rem;
        color: var(--first-color-alt);
    }
    .change__theme{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .theme__text{
        font-size: 1.125rem;
        font-weight: 400;
    }
    .nav__second{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
    }
    .nav__second div{
        display: flex;
        flex-direction: column;
    }
    .nav__second .nav__link{
        flex-direction: row;
        justify-content: flex-start;
        gap: .5rem;
        padding: .5rem;
    }
    .nav__second .logout__link{
        flex-direction: row;
        justify-content: flex-start;
        gap: .5rem;
        padding: .5rem;
    }
    .nav__second .nav__link .nav__text{
        font-size: 1rem;
    }
    .nav__second .nav__link .nav__text{
        display: block;
    }
    .nav__second .logout__link .nav__text{
        display: block;
    }
    /* .nav__text{
        display: none;
    } */
    .nav__second .logout__link .nav__text{
        font-size: 1rem;
        color: var(--text-color-red);
    }
    .nav__second .logout__link i{
        color: var(--text-color-red);
    }
    .nav__second-btn{
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }
    .acc__type{
        padding: 0 .5rem;
        position: fixed;
        bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: .813rem;
    }
}
/* show menu */
.show-sidemenu{
    left: 0;
}
.nav__second-toggle{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsla(0, 0%, 85%, 0.8);
}
.nav__second-toggle i{
    font-size: 1.5rem;
    color: var(--text-color);
}
.notification__icon{
    width: 24px;
    cursor: pointer;
}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.logout__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.logout__link .nav__text{
    font-size: .6rem;
}
.nav__link .nav__text{
    font-size: .5rem;
}
.nav__link i,
.logout__link i{
    font-size: 1.6rem;
}
.nav__link i.uil-message{
    rotate: -30deg;
}
/* .nav__link:hover{
    color: hsla(306, 61%, 94%, 1);
} */
.nav__second-box{
    display: flex;
    align-items: center;
    gap: .5rem;
    /* box-shadow: 0px 4px 12px rgba(126, 120, 120, 0.25); */
    border-radius: 8px;
    background-color: #fff;
    padding: .5rem .8rem;
}
.user__box-home{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    display: none;
}
.user__pic-home-box{
    background-color: hsla(11, 85%, 67%, 1);
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__pic-home{
    font-size: 1rem;
    border-radius: 50%;
    color: var(--text-color-white);
}
.user__name-home{
    font-size: 1rem;
    font-weight: 600;
}
.user__box-home i{
    font-size: 1.2rem;
    cursor: pointer;
}
.dashhome__container{
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: grid;
    gap: 1rem;
}
.dashhome__title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.dashhome__contents{
    gap: 1rem;
}
.home__img{
    padding: 1rem;
    border-radius: 8px;
    background-color: hsla(5, 39%, 92%, 1);
    height: 10rem;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.home__img img{
    width: 230px;
}
.allset{
    padding: 2.5rem 2rem 2rem;
    border-radius: 8px;
    background-color: var(--first-color);
}
.allset__title{
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.allset__description{
    color: var(--text-color-white);
    font-size: .813rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
.allset__button{
    padding: .6rem 1.5rem;
}
.totalconvo{
    padding: 2rem;
    text-align: center;
    background-color: hsla(5, 79%, 91%, 1);
    border-radius: 8px;
}
.totalconvo__title{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.totalconvo__number{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
}
.totalconvo__streak{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.fire__emoji{
    width: 20px;
}
.totalconvo__streak{
    font-size: 1rem;
    font-weight: 700;
}
.kilopal{
    background-color: hsla(0, 0%, 96%, 1);
    border-radius: 8px;
    padding: 1.5rem 3rem 1rem 1rem;
    color: var(--first-color);
    cursor: pointer;
}
.kilopal__title{
    font-size: 1.6rem;
    line-height: 1.85rem;
    margin-bottom: 1rem;
}
.kilopal__description{
    font-size: .813rem;
}
.kilopal__img{
    display: none;
}
.hfeed{
    background-color: hsla(23, 42%, 94%, 1);
    padding: 1rem;
    border-radius: 8px;
}
.hfeed__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hfeed__user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hfeed__head-dp{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.hfeed__head-pic{
    padding: 1.1rem;
    background-color: hsla(0, 0%, 85%, 0.8); 
    border-radius: 50%;
}
.hfeed__head-name{
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color);
}
.hfeed__head-time{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-color);
    font-weight: 500;
}
.hfeed__head-time .time{
    font-size: .65rem;
}
.hfeed__head-time .date{
    font-size: .65rem;
}
.hfeed__post{
    margin-top: .9rem;
    margin-right: 2.5rem;
    font-size: .81rem;
    font-weight: 400;
    line-height: 1rem;
}
.stress{
    background-image:linear-gradient(rgba(1, 71, 69, 0.8),
                                     rgba(1, 71, 69, 0.8)),
                     url(../images/stress-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 4rem 1.5rem 1.5rem;
    color: var(--text-color-white);
}
.stress__title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.stress__description{
    font-size: .813rem;
    margin-bottom: 0.5rem;
}
.stress__link{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
/* START CONVERSATION */
.startconvo,
.spairing{
    margin-top: 4rem;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.startconvo__content,
.spairing__content{
    width: 100%;
}
.spairing__content{
    margin-top: 2rem;
}
.startconvo__header,
.spairing__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.spairing__header{
    margin-bottom: 2rem;
}
.startconvo__title{
    font-size: 1.5rem;
    color: var(--first-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}
.spairing__title{
    font-size: 1.2rem;
    color: var(--first-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}
.startconvo__back{
    position: absolute;
    left: .5rem;
    top: -2.5rem;
    color: var(--text-color);
}
.startconvo__back i{
    font-size: 2rem;
}
.startconvo__container{
    margin-top: 2rem;
}
.startconvo__img,
.kilopal__user-img,
.unsucessfull__img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.startconvo__img img{
    width: 260px;
}
.kilopal__user-img img{
    width: 202px;
}
.unsucessfull__img img{
    width: 270px;
}
.select-menu{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    border: solid 1px hsla(0, 0%, 74%, 1);
    padding:0 1.5rem;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    align-items: center;
    color: hsla(0, 0%, 31%, 1);
    cursor: pointer;
    justify-content: space-between;
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    margin-top: 10px;
    border-radius: 4px;
    background: #fff;
    border: solid 1px hsla(0, 0%, 74%, 1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 1.5rem;
    color: hsla(0, 0%, 31%, 1);
    font-size: 16px;
    align-items: center;
    background: rgb(255, 255, 255);
}
.options .option:hover{
    background: var(--first-color-alt);
    color: #fff;
}
.spairing__text{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: hsla(289, 2%, 52%, 1);
}
.startconvo__button{
    width: 100%;
    text-align: center;
    padding: .8rem;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
.spairing__button{
    width: 100%;
    text-align: center;
    padding: .8rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.spairing1__button{
    width: 100%;
    text-align: center;
    padding: .8rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--first-color-alt);
    background-color: #fff;
    color: var(--first-color-alt);
}
/* loading screen */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 4rem;
}
.loader__title{
    font-size: 1.3rem;
    color: var(--first-color);
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.loader__back {
    position: absolute;
    left: .5rem;
    top: -2.5rem;
    color: var(--text-color);
}
.loader__back i{
    font-size: 2rem;
}
.loader__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    animation: loading 0.75s ease infinite;
}
.loader__img img{
    width: 156px;
}
.loader__description{
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
/* =============== MESSAGES =============== */
.chat__header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--container-color);
    padding:0 1.5rem;
    z-index: 100;
}
.header__title{
    font-size: 2.2rem;
}
.notification-icon{
    font-size: 1.5rem;
}
.chat__container{
    margin-top: 6rem;
    margin-bottom: 7rem;
    z-index: 100;
}
.chats__container{
    padding-top: 2rem;
    gap:1rem;
}
.user__box{
    background-color: var(--body-color);
    border-radius: .6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.user__pic-box{
    background-color: hsla(11, 85%, 67%, 1);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__pic{
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 700;
}
.user__box-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user__name{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}
.user__status{
    font-size: .7rem;
    font-weight: 400;
}
.select-menu{
    width: 100%;
    margin-top: 2rem;
}
.closed__conversations{
    margin-top: 3rem;
}
.closed__conversations-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
.select__button{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 31%, 1);
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}
.select__button::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    height: 2px;
    width: 2px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.closed__conversations-closed{
    margin-top: 1.5rem;
    gap: 1rem;
}
.user__box-closed{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user__pic-closed-box{
    background-color: hsla(180, 97%, 28%, 1);
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__pic-closed{
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 700;
}
.user__box-names-closed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user__name-closed{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
}
.user__status-closed{
    font-size: .8rem;
    font-weight: 600;
}
@media screen and (max-width:767px) {
    .nav__list-second .nslm {
        display: none;
    }
}
.message__container{
    position: fixed;
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    top: 0;
    right:-100%;
    transition: .3s;
    z-index: 100;
}
.show-menu{
    right:0;
}
.show-menu .chat__box-input{
    display: flex;
    transition: .3s;
}
.message__header{
    height: 5.5rem;
    background-color: var(--container-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 90;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.chat__close{
    font-size: 1.7rem;
}
.more-icons{
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.more__icon{
    font-size:2rem;
}
.more__content{
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(88, 82, 82, 0.25);
    border-radius: 8px;
    position: absolute;
    right: .5rem;
    top: 5.5rem;
    padding: 2rem;
    gap: 1.5rem;
    width: 70%;
    transition: 3s ease-in-out;
}
.more__item{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    text-align: left;
}
.close__more{
    left: 0;
    top: 0;
    display: none;
    font-size: 2rem;
    color: var(--text-color);
}
.message__header-box{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-pic{
    position: relative;
}
.active-online{
    width: 0.65rem;
    height: 0.65rem;
    border: #fff 2px solid;
    border-radius: 50%;
    background: hsl(130,95%,65%);
    position: absolute;
    bottom: 3px;
    right: 0;
}
.message__header-pic-box{
    background-color: hsla(11, 85%, 67%, 1);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message__header-pic{
    color: var(--text-color-white);
    font-size: 1.5rem;
    font-weight: 700;
}
.message__header-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message__header-name{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
}
.message__header-status{
    font-size: .7rem;
    font-weight: 700;
}
.messages{
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    padding: 2rem 1rem;
    overflow: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px 0;
}
.you__message{
    justify-content: flex-end;
}
.kilode__message{
    justify-content: flex-start;
    width: 85%;
}
.you__message p{
    position: relative;
    right: 0;
    text-align: right;
    padding: 1rem 2.2rem;
    color: var(--text-color-white);
    background:hsla(180, 32%, 50%, 1);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    font-size: 1rem;
}
.you__message span{
    display: block;
    margin-top: 5px;
    font-size: 0.83rem;
    text-align: right;
}
.kilode__message p{
    background: #fff;
    text-align: left;
    position: relative;
    right: 0;
    padding: 1rem 2.2rem;
    color: var(--text-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    font-size: 1rem;
}
.kilode__message span{
    display: block;
    margin-top: 5px;
    font-size: 0.83rem;
    text-align:left;
}
/* .message__typing{
} */
.chat__box-input{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--body-color);
    padding: .4rem 1rem;
    display: none;
    transition: .3s;
}
.chat__input{
    display: flex;
    padding: .9rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 90%;
    gap: 1rem;
}
.chat__input input{
    width: 100%;
}
.chat__input i{
    font-size: 1.5rem;
}
.send__message{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(180, 38%, 50%, 1);
    border-radius: 50%; 
}
.send__message i{
    color: #fff;
    font-size: 1.5rem;
}
/* =========== JOURNAL ========== */
.journal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.journal__title{
    font-size: 1.8rem;
    color: var(--first-color);
    text-align: center;
}
.journal__subtitle{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--first-color);
    text-align: center;
}
.journal__img img{
    width: 340px;
    margin-top: 2.5rem;
}
/* =============== KILORANT =============== */
.knav__second-toggle{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.knav__second-toggle span{
    font-size: 1.25rem;
    font-weight: 700;
}
.kilorant{
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.create__post{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.create__post-img{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    align-items: center;
}
.create__post-img span{
    padding: 1.1rem;
    background-color: hsla(0, 0%, 85%, 0.8);
    border-radius: 50%;
}
.create__post-img p{
    font-size: .813rem;
}
.create__post-box{
    padding:.3rem .5rem;
    border: 1px solid hsla(0, 0%, 74%, 1);
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 3.5px;
    gap: .5rem;
}
.create__post-input{
    outline: none;
    border: none;
    width: 90%;
    font-size: 1rem;
    color: var(--text-color);
}
.create__post-input::placeholder{
    font-size: .813rem;
    color: hsla(289, 2%, 52%, 1);
}
.send__post{
    height: 2.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(180, 38%, 50%, 1);
    border-radius: 50%; 
}
.send__post i{
    color: #fff;
    font-size: 1.3rem;
}
/* .send__post{
    height: 2.5rem;
    width: 3.5rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    border-radius: 50%;
} */
.emoji-icon{
    font-size: 1.5rem;
    color: var(--text-color);
}
/* FEEDS */
.no__feed{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.no__feed h1{
    color: var(--text-color);
    font-size: 1.2rem;
}
.feeds{
    margin-top: 1rem;
    position: relative;
}
.feed{
    margin-bottom: 2rem;
    display: block;
}
.feed__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feed__user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feed__head-dp{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.feed__head-pic{
    padding: 1.1rem;
    background-color: hsla(0, 0%, 85%, 0.8); 
    border-radius: 50%;
}
.feed__head-name{
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color);
}
.feed__head-time{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-color);
    font-weight: 500;
}
.feed__head-time .time{
    font-size: .65rem;
}
.feed__head-time .date{
    font-size: .65rem;
    width: 100%;
}
.more__container{
    position: relative;
}
.more-icons{
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.more__icon{
    font-size:2rem;
    transform: rotate(90deg);
    display: block;
}
.more__content{
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(88, 82, 82, 0.25);
    border-radius: 8px;
    position: absolute;
    right: 0rem;
    width: 250px;
    top: 2.5rem;
    padding: 2rem;
    gap: 1.5rem;
    z-index: 100;
}
.more__item{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    text-align: left;
    font-size: .9rem;
}
.close__more{
    left: 0;
    top: 0;
    display: none;
    font-size: 2rem;
    color: var(--text-color);
}
.more__close .more__content{
    display: none;
}
.more__open .more__content{
    display: grid;
}
/* .more-active{
    display: grid;
} */
.active-modal{
    display: grid;
}
.active-modal1{
    display: none;
}
.feed__post{
    margin-top: .7rem;
    margin-right: 2.5rem;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.4rem;
}
.action__button{
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
}
.like-img{
    width: 25px;
}
.relate__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    font-size: 18px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
}
.like-count{
    font-size: .913rem;
}
.relate__btn span i{
    font-size: 1.2rem;
}
.relate__number{
    color: var(--text-color);
    font-size: .813rem;
}
.going__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    font-size: 18px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
}
.going-img{
    width: 25px;
}
.going-count{
    font-size: .813rem;
}
.notifications{
    position: fixed;
    background-color: var(--first-color);
    width: 85%;
    height: 100vh;
    top: 4rem;
    right:-100%;
    transition: .3s;
    border-radius: .5rem 0 0 .5rem;
    z-index: 101;
}
.show-notifications{
    right:0;
}
.notifications__container{
    margin-top: 2rem;
    padding-bottom: 7rem;
    position: relative;
    height: 100vh;
    overflow: auto;
}
.notifications__header{
    position: fixed;
    width: 80%;
    background-color: var(--first-color);
}
.title__line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: hsla(0, 0%, 88%, 1);
}
.notifications__title{
    color: var(--text-color-white);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.notifications__content{
    margin-top: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.notification__content{
    display: flex;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.notification__content-box{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.notifications__content i{
    font-size: 1rem;
    color: hsla(0, 79%, 63%, 1);
}
.notification__dp{
    padding: .8rem;
    background-color: hsla(240, 35%, 23%, 1);
    border-radius: 50%;
    width: 0;
}
.notification__text{
    color: var(--text-color-white);
    font-size: .813rem;
}
.notifications__close{
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 0;
}
.notifications__content{
    display: block;
}
.no__notifications{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.no__notifications h1{
    color: var(--text-color-white);
    font-size: 1.2rem;
}
.rant__button{
    position: fixed;
    right: 2rem;
    background-color: hsla(24, 50%, 58%, 1);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.show-scroll{
    bottom: 6rem;
}
/* report */
.report__header{
    display: flex;
    height: 5.5rem;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
.report__back i{
    font-size: 2rem;
    color: var(--text-color);
}
.report__title{
    font-size: 1.3rem;
}
.report__container{
    margin-top: 6rem;
}
.report__reason{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--text-color);
}
.setup-checkbox{
    margin-bottom: 4rem;
    gap: 2rem;
}
.setup-group {
	margin-bottom: .5rem;
}
.setup-group:last-child {
	margin-bottom: 0;
}
.setup-group input {
	display: none;
}
.setup-group.select-all label {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 24px;
}
label {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
}
label .checkbox {
	width: 20px;
	height: 20px;
	background: #ccc;
	border-radius: 4px;
	position: relative;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #fff;
	border-radius: 2.5px;
	transition: .2s ease;
	transition-delay: .2s;
}
.setup-group input:checked + label .checkbox::before {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	transition-delay: 0s;
}
.setup-group input:checked + label .checkbox {
	background: var(--first-color);
	transition-delay: 0s;
}
label .checkbox .check {
	display: block;
	width: 12px;
	height: 6px;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translateX(-50%) rotateZ(-45deg);
}
label .checkbox .check::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background: #fff;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox .check::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .2s ease;
	transition-delay: 0s;
}
.setup-group input:checked + label .checkbox .check::before {
	height: 100%;
	transition-delay: .2s;
}
.setup-group input:checked + label .checkbox .check::after {
	width: 100%;
	transition-delay: .4s;
}
.report__button{
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    font-weight: 600;
}
/* ============= NOTIFICATIONS ============= */
.all__notifi{
    display: block;
}
.kilorant__notifi{
    display: block;
}
.no__notifi{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.no__notifi h1{
    font-size: 1.2rem;
    color: hsla(0, 0%, 31%, 1);
}
.notifi__header{
    display: flex;
    height: 5.5rem;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
.filters{
    margin-top: 5.5rem;
}
.notifi__back i{
    font-size: 2rem;
    color: var(--text-color);
}
.notifi__title{
    font-size: 1.3rem;
}
.filters__content{
    background-color: #fff;
    padding: .375rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 5.5rem;
    left: 0;
}
.filters__button{
    width: 100%;
    border: none;
    outline: none;
    padding: .8rem;
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    transition: .3s;
}
.filters [data-content]{
    display: none;
}
.filters__active[data-content]{
    display: grid;
}
.filter-tab-active{
    position: relative;
    font-weight: 800;
}
.filter-tab-active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--first-color-alt);
    height: 3px;
    width: 100%;
}
.filters__section{
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.all__content,
.kilorant__content{
    gap: 1rem;
}
.notifi__contents{
    display: flex;
    align-items: start;
    gap: .5rem;
}
.like__img{
    width: 26px;
}
.notifi__content{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.profile__pic{
    height: 2.5rem;
    width: 2.5rem;
    background-color: hsla(240, 35%, 23%, 1);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__pic h1{
    font-size: 1.3rem;
    font-weight: 600;
}
.notifi__text{
    font-size: .88rem;
    color: var(--text-color);
}
.listener__text{
    font-size: 1rem;
    color: var(--text-color);
}
.welcome__text{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
}
.shared-rant,
.listener__text,
.welcome__text{
    padding-left: 2.3rem;
}
.ncontainer{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
@media screen and (max-width:320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav__second-btn{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav__list{
        padding: 1rem;
    }
    .nav__list-first{
        gap: 1.5rem;
    }
    .nav__link .nav__text{
        font-size: .5rem;
    }
    .nav__link i{
        font-size: 1.3rem;
    }
    .dashhome__container{
        padding-bottom: 8rem;
    }
    .allset{
        padding: 2rem 1.5rem 1.5rem;
    }
    .allset__description{
        margin-right: 0;
    }
    .kilopal{
        padding: 1.5rem 1rem 1rem;
    }
    .kilopal__title{
        font-size: 1.5rem;
    }
    .feed__post{
        margin-right: 0;
    }
    .startconvo__title{
        font-size: 1.2rem;
    }
    .startconvo__button{
        padding: .6rem;
    }
    .select-menu .select-btn{
        height: 45px;
    }
    .more__content{
        width: 190px;
    }
}
@media screen and (min-width:576px) {
    .nav__list{
        width: 372px;
        bottom: 1rem;
    }
    .dashhome__container{
        padding-bottom: 6rem;
    }
    .dashhome__contents{
        grid-template-columns: repeat(2,1fr);
    }
    .home__img{
        height: 100%;
        align-items: center;
    }
    .home__img img{
        width: 350px;
    }
    .kilopal{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .totalconvo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem;
    }
    .startconvo__back{
        top: 2rem;
        left: 5rem;
    }
    .startconvo__container,
    .spairing__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .select-menu,
    .spairing1__button,
    .spairing__button,
    .startconvo__button{
        width: 60%;
    }
    .more__content{
        width: 320px;
    }
    .notifications{
        width: 70%;
    }
    .notifications__close{
        right: 6rem;
    }
    .report__button{
        width: 60%;
    }
}
@media screen and (min-width:767px) {
    body{
        padding: 0 0 0 5rem;
    }
    .active-link{
        background-color: hsla(180, 97%, 28%, 1);
        color: var(--text-color-white);
    }
    .active-link span{
        color: var(--text-color-white);
    }
    .active-link i{
        color: var(--text-color-white);
    }
    .active-link::after{
        display: none;
    }
    .nav__second-back,
    .nav__logo-second-icon,
    .nav__second-toggle,
    .nav__user-box,
    .navb2,
    .acc__type,
    .hr,
    br{
        display: none;
    }
    /* .container{
        margin-left: 7rem;
        margin-right: 1.5rem;
    } */
    .nav{
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--body-color);
        width: 58px;
        height: 100vh;
        padding: 1.25rem .5rem 2rem;
        transition: .3s;
    }
    .nav__logo{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: .5rem;
        position: relative;
        display: inline-block;
    }
    .nav__logo-icon{
        width: 142px;
        display: none;
    }
    .nav__link,
    .logout__link{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 8px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav__toggle{
        margin-left: 0rem;
        cursor: pointer;
        transition: .5s;
    }
    .nav__toggle i{
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: hsla(0, 0%, 85%, 0.8);
        color: var(--text-color);
    }
    .nav__link i,
    .logout__link i{
        font-size: 1.5rem;
    }
    .nav__link .nav__text{
        font-weight: 700;
        font-size: var(--normal-font-size);
    }
    .logout__link .nav__text{
        font-weight: 700;
        color: var(--text-color-red);
        font-size: var(--normal-font-size);
    }
    .logout__link i{
        color: var(--text-color-red);
    }
    /* .nav__link:hover{
        background-color:hsla(306, 61%, 94%, 1);
        color: var(--text-color);
    } */
    .nav__list{
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    .nav__content{
        overflow: hidden;
        height: 100%;
    }
    .nav__list-first{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--text-color);
        transition: .3s;
    }
    .nav__list-second{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .nsl{
        display: none;
    }
    .nav__second-btn{
        display: flex;
        justify-content: flex-end;
        height: 6rem;
        padding-right: 2rem;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 100;
    }
    .nav__second-menu{
        margin-top: 1rem;
    }
    .nav__second-box{
        padding: .8rem 1rem;
        gap: 1.5rem;
        position: relative;
        box-shadow: 0px 4px 12px rgba(126, 120, 120, 0.25);
    }
    .notification__icon{
        width: 30px;
    }
    .user__box-home{
        display: flex;
        gap: .8rem;
    }
    .user__pic-home-box{
        height: 2rem;
        width: 2rem;
    }
    .user__pic-home{
        font-size: 1.125rem;
    }
    .user__box-home i{
        font-size: 1.4rem;
    }
    .user__box{
        gap: .5rem;
    }
    .navsb-modal{
        margin-top: 10px;
        padding: .5rem 0;
        background-color: #fff;
        border-radius: 8px;
        display: none;
        box-shadow: 0px 4px 12px rgba(126, 120, 120, 0.25);
    }
    .navsb__user-box{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0 .5rem;
        margin-bottom: .5rem;
    }
    .navsb__user-pic{
        background-color: hsla(11, 85%, 67%, 1);
        border-radius: 50%;
        height: 2.7rem;
        width: 2.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navsb__user-pic h1{
        color: var(--text-color-white);
        font-size: 1.3rem;
        font-weight: 700;
    }
    .navsb__username-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navsb__user-name{
        font-size: .9rem;
        font-weight: 500;
        color: var(--text-color);
    }
    .navsb__user-email{
        font-size: .7rem;
        font-weight: 400;
    }
    .change__theme{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem .5rem;
    }
    .theme__text{
        font-size: .9rem;
        font-weight: 400;
    }
    .switch__acc2{
        width: 100%;
        color: var(--text-color);
        position: relative;
        padding: .5rem;
    }
    .swac-btn2{
        display: flex;
        background: #fff;
        font-size: .9rem;
        font-weight: 400;
        align-items: center;
        color: var(--text-color);
        cursor: pointer;
        justify-content: space-between;
    }
    .swac-btn2 i {
        font-size: 25px;
        transition: 0.3s;
    }
    .swac-options2 {
        position: relative;
        margin-top: 15px;
        background: #fff;
        gap:1rem;
        display: none;
    }
    .swac-option2 {
        display: flex;
        cursor: pointer;
        font-size: .85rem;
        justify-content: space-between;
        align-items: center;
    }
    .swac-option-role{
        font-size: .77rem;
        color: hsla(0, 0%, 31%, 1);
    }
    .swac-modal{
        position: absolute;
        height: 60px;
        width: 100%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        top: 2.5rem;
        display: none;
    }
    .swac-modal-text{
        font-size: 1rem;
        color: var(--first-color-alt);
    }
    .dashhome__container{
        padding-bottom: 5rem;
        padding-top: 0;
    }
    .dashhome__contents{
        grid-template-columns: 1fr .6fr 1fr 1fr;
        grid-template-rows: 1fr .8fr .8fr;
        grid-template-areas:
           "img set set convo"
           "stress stress kilopal kilopal"
           "stress stress feed feed"
        ;
    }
    .home__img{
        grid-area: img;
    }
    .allset{
        grid-area: set;
    }
    .totalconvo{
        grid-area: convo;
    }
    .stress{
        grid-area: stress;
    }
    .kilopal{
        grid-area: kilopal;
    }
    .hfeed{
        grid-area: feed;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /* show menu */
    .show{
       width: 168px;
    }
    .show .nav__logo-icon{
       display: block;
    }
    .show .nav__logo-small{
        display: none;
    }
    .expander{
       padding: 0 0 0 12rem;
    }
    .startconvo__title,
    .spairing__title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .startconvo__back{
        left: 9rem;
    }
    .startconvo__img img{
        width: 350px;
    }
    .kilopal__user-img img{
        width: 300px;
    }
    .unsucessfull__img img{
        width: 350px;
    }
    .chat__header{
        left: 5rem;
        transition: .5s;
    }
     .expander .chat__header{
        left: 12rem;
    }
    .active-link{
        background-color: hsla(180, 97%, 28%, 1);
        color: var(--text-color-white);
    }
    .active-link::after{
        display: none;
    }
    .chat{
        display: flex;
        position: relative;
        width: 1396px;
        max-width: 100%;
        height: 100vh;
        background: #fff;
    }
    .chat__container{
        margin-bottom: 2rem;
        position: relative;
        flex: 30%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .message__container{
        position: relative;
        flex: 70%;
        right: 0;
        height: 100%;
    }
    .chat__box-input{
        position:sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--body-color);
        padding: .4rem 1rem;
    }
    .chat__close{
        display: none;
    }
    .body2{
        display: flex;
        height: 100vh;
        overflow: hidden;
        gap: .5rem;
    }
    .kilorant{
        padding-top: 0;
        height: 100vh;
        overflow: auto;
        padding-bottom: 2rem;
    }
    .notification-icon,
    .notifications__close{
        display: none;
    }
    .send__post{
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsla(180, 38%, 50%, 1);
        border-radius: 50%; 
    }
    .send__post i{
        color: #fff;
        font-size: 1.5rem;
    }
    .kbtn{
        justify-content: flex-start;
        z-index: 100;
        background-color: #fff;
    }
    .knav__second-toggle span{
        font-size: 1.5rem;
    }
    .create__post-box{
        width: 100%;
    }
    .notifications{
        position: relative;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .notifi__header{
        position: sticky;
    }
    .filters__content{
        position: sticky;
    }
    .filters{
        margin-top: 0;
    }
    .filters__section{
        margin-top: 2rem;
    }
}
@media screen and (min-height:960px){
    .dashhome__contents{
        grid-template-columns: 1fr .6fr 1fr 1fr;
        grid-template-rows: .4fr .1fr .1fr;
    }
}
@media screen and (min-width:992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1036px;
    }
    .nav__second-btn{
        max-width: 1036px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .dashhome__contents{
        grid-template-columns: 1fr .6fr 1fr 1fr;
        grid-template-rows: 1fr .5fr .5fr;
    }
    .allset{
        padding: 5rem;
    }
    .allset__description{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .allset__button{
        padding: 1rem 2.5rem;
    }
    .totalconvo__title{
        margin-bottom: 1.5rem;
    }
    .totalconvo__number{
        margin-bottom: 1.5rem;
    }
    .stress{
        flex: 60%;
        padding: 4rem 2rem 2rem;
    }
    .stress__title{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    .stress__description{
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 2rem;
    }
    .kilopal{
        padding: 3rem 12rem 2rem 1rem;
        position: relative;
    }
    .kilopal__img{
        display: block;
        position: absolute;
        width: 170px;
        right: 0;
        bottom: 0;
    }
    .stress__link{
        font-size: 2.5rem;
    }
    .spairing__content,
    .startconvo__content{
        width: 60%;
    }
    .startconvo__back{
        left: 17rem;
    }
    .notifications{
        width: 60%;
    }
}
::-webkit-scrollbar{
    width: 0.3rem;
    /* background: hsla(180, 4%, 75%, 1); */
}
::-webkit-scrollbar-thumb{
    /* background: hsla(0, 0%, 85%, 1); */
    border-radius: .4rem;
}