@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem; /*56px*/
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(178, 97%, 14%);
    --first-color-alt: hsl(180, 97%, 28%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(0, 0%, 11%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --secondary-color-volunteer: hsl(24, 75%, 73%);
    --ash-color: hsl(0, 0%, 95%);
    --placeholder-color: hsl(0, 0%, 31%);
    --header-color: hsl(0, 0%, 100%);
    --text-color-red:hsla(0, 74%, 47%, 1);
    --body-color:hsla(0, 0%, 96%, 1);
    --container-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html{
    scroll-behavior: smooth;
}
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
body{
    background-color: #fff;
    color: var(--text-color);
    margin: 0;
    font-size: var(--normal-font-size);
}
  
button{
    cursor: pointer;
    border: none;
    outline: none;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
  
img{
    max-width: 100%;
    height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.grid{
    display: grid;
}
.nav__list-second{
    display: none;
}
/* active link */
.active-link1{
    color: hsla(306, 21%, 63%, 1);
    position: relative;
}
.active-link1 i{
    color: hsla(306, 21%, 63%, 1);
}
.active-link1 span{
    color: hsla(306, 21%, 63%, 1);
}
.active-link1::after{
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: hsla(306, 21%, 63%, 1);
}
@media screen and (max-width:767px) {
    .nav__logo,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        position: fixed;
        bottom: 0;
        background-color: var(--body-color);
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 99%;
        padding:1.5rem 2rem;
        border-radius: .5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        z-index: 100;
    }
    .nav__list-first{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap:3.5rem;
    }
    /* .yaccount{
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color:var(--container-color);
        width: 100%;
        height: 100%;
        overflow:auto;
        transition: all .3s;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
    } */
    .listener{
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color:var(--container-color);
        width: 100%;
        height: 100%;
        overflow:auto;
        transition: all .3s;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
    }
    
}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.logout__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.logout__link .nav__text{
    font-size: .6rem;
}
.nav__link .nav__text{
    font-size: .6rem;
}
.nav__link i,
.logout__link i{
    font-size: 1.6rem;
}
.nav__link:hover{
    color: hsla(306, 61%, 94%, 1);
}
/* settings */
.settings{
    padding-top: 3rem;
    height: 100vh;
}
.settings__header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
.settings__title{
    font-size: 1.25rem;
    color: var(--text-color);
}
.settings__back{
    font-size: 1.5rem;
    color: var(--text-color);
}
.settings__list{
    gap: 1rem;
}
.setting{
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0px 4px 12px rgba(126, 120, 120, 0.25);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setting__title{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
}
.setting__link{
    font-size: 1.5rem;
    color: var(--first-color);
    display: none;
}
/* active link */
.setting-active{
    position: relative;
}
.setting-active .setting__title{
    color: var(--first-color);
    font-weight: 700;
}
.setting-active .setting__link{
    display: block;
}
.setting-active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: var(--first-color);
    border-radius: 0 5px 5px 0;
}
.setting__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: var(--container-color);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 23rem 0 0;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.yaccount__header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
.yaccount__title{
    font-size: 1.25rem;
    color: var(--text-color);
}
.modal__back{
    font-size: 1.5rem;
    color: var(--text-color);
}
.edit__pic{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}
.profile__pic{
    padding: 2.5rem;
    background-color: hsla(0, 0%, 85%, 1);
    border-radius: 50%;
}
.edit__button{
    font-size: .95rem;
    color: var(--first-color-alt);
}
.edit__details,
.edit__password{
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.label__title{
    font-size: .95rem;
    color: hsla(289, 2%, 52%, 1);
}
.edit__input{
    width: 100%;
    margin-top: .5rem;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 1rem;
    border: 1px solid hsla(0, 0%, 74%, 1);
    outline: none;
    padding: .5rem .8rem;
    border-radius: 8px;
}
.save__changes{
    width: 100%;
    padding: .8rem;
    border-radius: 8px;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    font-weight: 700;
    margin-bottom: 2rem;
}
.save__changes{
    width: 100%;
    padding: .8rem;
    border-radius: 8px;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    font-weight: 700;
    margin-bottom: 2rem;
}
.save__password{
    width: 100%;
    padding: .8rem;
    border-radius: 8px;
    background-color: hsla(0, 79%, 63%, 1);
    color: var(--text-color-white);
    font-weight: 700;
    margin-bottom: 2rem;
}

/* .listener__header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
.listener__title{
    font-size: 1.25rem;
    color: var(--text-color);
}
.listener__back{
    font-size: 1.5rem;
    color: var(--text-color);
} */
/* show modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width:320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav__second-btn{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav__list{
        gap: .5rem;
    }
    .nav__list-first{
        gap: .5rem;
    }
    .nav__link .nav__text{
        font-size: .7rem;
    }
}
@media screen and (min-width:576px) {
    .nav__list{
        width: 372px;
        bottom: 1rem;
    }
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (min-width:767px) {
    body{
        padding: 0 0 0 5rem;
    }
    .active-link1{
        background-color: hsla(306, 21%, 63%, 1);
        color: var(--text-color-white);
    }
    .active-link1 span{
        color: var(--text-color-white);
    }
    .active-link1 i{
        color: var(--text-color-white);
    }
    .active-link1::after{
        display: none;
    }
    .nav__second-back,
    .nav__logo-second-icon,
    .nav__second-toggle{
        display: none;
    }
    /* .container{
        margin-left: 7rem;
        margin-right: 1.5rem;
    } */
    .nav{
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--body-color);
        width: 58px;
        height: 100vh;
        padding: 1.25rem .5rem 2rem;
        transition: .3s;
    }
    .nav__logo{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: .5rem;
        position: relative;
        display: inline-block;
    }
    .nav__logo-icon{
        width: 142px;
        display: none;
    }
    .nav__link,
    .logout__link{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 8px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav__toggle{
        margin-left: 0rem;
        cursor: pointer;
        transition: .5s;
    }
    .nav__toggle i{
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: hsla(0, 0%, 85%, 0.8);
        color: var(--text-color);
    }
    .nav__link i,
    .logout__link i{
        font-size: 1.5rem;
    }
    .nav__link .nav__text{
        font-weight: 700;
        font-size: var(--normal-font-size);
    }
    .logout__link .nav__text{
        font-weight: 700;
        color: var(--text-color-red);
        font-size: var(--normal-font-size);
    }
    .logout__link i{
        color: var(--text-color-red);
    }
    .nav__link:hover{
        background-color:hsla(306, 61%, 94%, 1);
        color: var(--text-color);
    }
    .nav__list{
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    .nav__content{
        overflow: hidden;
        height: 100%;
    }
    .nav__list-first{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--text-color);
        transition: .3s;
    }
    .nav__list-second{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .nav__second-btn{
        display: flex;
        justify-content: flex-end;
        height: 4rem;
        align-items: center;
        padding-right: 2rem;
        position: fixed;
        right: 0;
        top: 0;
    }
    /* show menu */
    .show{
        width: 168px;
    }
    .show .nav__logo-icon{
        display: block;
    }
    .show .nav__logo-small{
         display: none;
    }
    .expander{
        padding: 0 0 0 12rem;
    }
    .settings__section{
        display: flex;
        position: relative;
        width: 1396px;
        max-width: 100%;
        height: 100vh;
    }
    .settings{
        position: relative;
        flex: 35%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .modal{
        position: relative;
        flex: 65%;
        overflow: auto;
    }.modal-open{
        transition: all .3s;
        visibility: hidden;
        opacity: 0;
    }
    .show-modal{
        visibility: visible;
        opacity: 1;
    }
    .setting-active .modal-open{
        display: block;
    }
}