@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem; /*56px*/
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(178, 97%, 14%);
    --first-color-alt: hsl(180, 97%, 28%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(0, 0%, 11%);
    --text-color-gray: hsl(0, 0%, 88%);
    --text-color-white: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --secondary-color-volunteer: hsl(24, 75%, 73%);
    --ash-color: hsl(0, 0%, 95%);
    --placeholder-color: hsl(0, 0%, 31%);
    --header-color: hsl(0, 0%, 100%);

  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}
/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html{
    scroll-behavior: smooth;
}
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
body{
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
    font-size: var(--normal-font-size);
}
  
button{
    cursor: pointer;
    border: none;
    outline: none;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
  
img{
    max-width: 100%;
    height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 3rem 0 2rem;
} 
.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.grid{
    display: grid;
}
/* ============ BUTTONS =========== */
.button{
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--text-color-white);
    border-radius: .5rem;
}
/* ===== THEMES ===== */
.switch{
    display: inline-block;
    width: 43px;
    height: 24px;
    cursor: pointer;
}
.switch__input{
    display: none;
}
.switch__rail{
    position: relative;
    width: 43px;
    height: 25px;
    background-color: #828282;
    border-radius: 3rem;
}
.switch__circle{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    transition: transform .4s;
}
.switch__input:checked ~ .switch__rail .switch__circle{
    transform: translate(18px, -50%);
}
.switch__input:checked ~ .switch__rail{
    background-color: var(--first-color);
}
.change-theme{
    font-size: 1.5rem;
    color: var(--first-color-alt);
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover{
    transform: rotate(360deg);
    transition: all .3s ease-in-out;
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --header-color: hsl(178, 77%, 9%);
    --body-color: hsl(178, 21%, 9%);
    --ash-color:hsla(180, 10%, 8%, 1);
}
.dark-theme .values__content{
    background-color: hsla(178, 97%, 14%, 1);
}
.dark-theme .change-theme{
    color: #fff;
}
.dark-theme .nothing__title{
    color: var(--text-color-white);
}
.dark-theme .nothing__description{
    color: var(--text-color-white);
}
.dark-theme .values__title{
    color: var(--text-color-white);
}
.dark-theme .verify__content-title{
    color: var(--text-color-white);
}
.dark-theme .verify__content-description{
    color: var(--text-color-white);
}
.dark-theme .start__title{
    color: var(--text-color-white);
}
.dark-theme .start__content-title{
    color: var(--text-color-white);
}
.dark-theme .start__content-description{
    color: var(--text-color-white);
}
.dark-theme .testimonial__title{
    color: var(--text-color-white);
}
.dark-theme .testimony{
    color: var(--text-color-white);
}
.dark-theme .testimonial__name{
    color: var(--text-color-white);
}
.dark-theme .better__title{
    color: var(--text-color-white);
}
.dark-theme .better__description{
    color: var(--text-color-white);
}
.dark-theme .nav__toggle{
    color: var(--text-color-white);
}
.dark-theme .nav__close{
    color: var(--text-color-white);
}
.dark-theme .active-link::after{
    background-color: var(--text-color-white);
}
.dark-theme .nav__link{
    color: var(--text-color-white);
}
.dark-theme .footer{
    background-color:hsla(178, 77%, 9%, 1);
}
.dark-theme .nav__logo-dark{
    display: inline;
}
.dark-theme .nav__logo-white{
    display: inline;
}
/* header */
.header{
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo-img{
    position: relative;
    display: inline-block;
}
.nav__logo{
    width: 85px;
}
.nav__logo-dark{
    display: none;
    position: absolute;
    top: 0;left: 0;
    z-index: 99;
}
.nav__toggle{
    display: inline-flex;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--first-color-alt);
}
@media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        background-color: var(--body-color);
        width: 75%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(180, 24%, 15%, .2);
        padding: 4rem 0  0 0;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: 100;
    }
}
.nav__close{
    font-size: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: var(--first-color-alt);
}
.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-left: 3rem;
}
.nav__link{
    color: var(--first-color);
    font-weight: 500;
}
.nav__link:hover{
    color: var(--first-color-alt);
    font-weight: 600;
}
.nav__btns{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
.nav__menu-btn{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.nav__button{
    padding: .7rem 2.5rem;
    color: var(--text-color-white);
    border-radius: .5rem;
    width: 100%;
    text-align: center;
}
.nav__button:hover{
    background-color: var(--first-color);
}
/* show menu */
.show-menu{
    right: 0;
}
/* active link */
.active-link{
    position: relative;
    color: var(--first-color-alt);
    font-weight: 700;
}
.active-link::after{
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--first-color-alt);
}
.error{
    padding-top: 3.5rem;
    background-color: hsla(0, 0%, 85%, 1);
    height: 100vh;
}
.error__data{
    padding-top: 5rem;
}
.error__title{
    font-size:var(--big-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
    font-weight: 700;
}
.error__description{
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.error__code{
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
/* MEDIA QUERIES */
/* smaller devices */
@media screen and (max-width:320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (min-width:568px) {
    .error__data{
        margin-left: 3.5rem;
    }
}
@media screen and (min-width:767px) {
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
        column-gap: 3rem;
        max-width: 968px;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__menu{
        display: grid;
        grid-template-columns: max-content 2fr;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
    .nav__menu-btn{
        margin-top: 0;
    }
    .nav__list{
        flex-direction: row;
        gap: 1.5rem;
    }
    .nav__logo{
        width: 105px;
    }
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .error__data{
        padding-top: 6rem;
        padding-left: 5rem;
    }
}
@media screen and (min-width:992px) {
    .container{
        max-width: 968px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav{
        column-gap: 5rem;
        max-width: 968px;
    }
    .nav__menu{
        gap: 4rem;
    }
    .nav__list{
        gap: 2.5rem;
    }
    .error__data{
        padding-left: 0;
    }
}